/* TOAST */

.toast__container_after {
  @apply relative overflow-hidden;
}

.toast__container_after::after {
  @apply absolute h-[7px] w-full bottom-0 left-0 content-[""];
  background: var(--toast-color);
}

/* SIDEBAR */

.sidebar__content {
  @apply fixed top-[75px] right-0 h-[calc(100vh-75px)] w-3/4 sm:w-1/2 border-l-2 border-orange-500 flex flex-col items-center bg-[#111]  transition-all duration-500;
}

.sideLink.active {
  @apply text-orange-500;
}

/* SPINNER */

.spinner__el::after {
  @apply content-[""] absolute top-0 left-0 w-[20px] h-[20px] bg-[#f97316] rounded-full;
  box-shadow: 0 0 10px #f97316, 0 0 20px #f97316, 0 0 40px #f97316,
    0 0 60px #f97316, 0 0 80px #f97316, 0 0 100px #f97316;
}

/* SPINNER BTN */

.spinner_tbn__el {
  @apply h-[20px] sm:h-[25px] w-[25px] sm:w-[30px] lg:w-[35px] lg:h-[35px] rounded-full bg-[#f97316];
  box-shadow: 0 0 10px #f97316, 0 0 15px #f97316;
}

/* CHECK_SWAP */

.check_swap__label {
  box-shadow: inset 2.5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 10px 20px rgba(0, 0, 0, 0.5),
    inset 10px 20px 40px rgba(0, 0, 0, 0.5);
}

.check_swap__swap {
  box-shadow: 2.5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 1.25px 2.5px 5px rgba(255, 255, 255, 0.5);
}

.check_swap__swap::after {
  @apply content-[""] absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 w-[5px] h-[5px] rounded-full;

  background-color: var(--color-swap);
  box-shadow: 0 0 5px 5px var(--color-swap), 0 0 10px 10px var(--color-swap);
}

/* RANGE */

.range__tooltip::after {
  @apply absolute content-[''] -z-10 w-full h-full bg-[#111] rotate-45 border-orange-500 border-2 rounded-tl-4xl rounded-tr-4xl rounded-bl-4xl;
}

.range__thumb,
.range__track,
.track__progress {
  @apply pointer-events-none;
}

input[type="range"] {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 40px;
  cursor: pointer;
  position: relative;
  z-index: 100;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
}
