@import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@import "./importedStyles/txt.css";
@import "./importedStyles/elsZ.css";
@import "./importedStyles/utils.css";
@import "./importedStyles/icons_svg.css";
@import "./importedStyles/buttons.css";
@import "./importedStyles/components.css";
@import "./importedStyles/animations.css";

* {
  font-family: "Sour Gummy";
}

body {
  @apply bg-[#111] text-[whitesmoke];
}

/* 
IMPORTANT: for some practical reasons i chose using snake case instead of kebab case in css naming, but only because i am working just myself on this project, if i would have been in a team i would been followed conventions of css of those one established by team  
*/

/* padding page */
.pad__page {
  @apply px-[5%] sm:px-10;
}

.notice {
  @apply w-[200px] sm:w-[300px] h-[200px] sm:h-[300px];
}

/* GENERAL */

.hide_scrollbar::-webkit-scrollbar {
  display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mini_spinner {
  animation: mini_spin 1s linear infinite;
}

@keyframes mini_spin {
  to {
    transform: rotate(360deg);
  }
}
