@import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@import "./importedStyles/txt.css";
@import "./importedStyles/elsZ.css";
@import "./importedStyles/utils.css";
@import "./importedStyles/icons_svg.css";
@import "./importedStyles/buttons.css";
@import "./importedStyles/components.css";
@import "./importedStyles/animations.css";

* {
  font-family: "Sour Gummy";
}

body {
  @apply bg-[#111] text-[whitesmoke];
}

/* 
IMPORTANT: for some practical reasons i chose using snake case instead of kebab case in css naming, but only because i am working just myself on this project, if i would have been in a team i would been followed conventions of css of those one established by team  
*/

/* BASE */

/* padding page */
.pad__page {
  @apply px-[5%] sm:px-10;
}

/* CARDS */

.container__cards {
  @apply w-full grid grid-cols-1 sm:grid-cols-[repeat(auto-fit,minmax(325px,1fr))] justify-items-center gap-10 mt-5 items-start;
}

.card__el {
  @apply border-[3px] rounded-xl py-1 pb-5 min-w-[300px] max-w-[400px] sm:min-w-[325px] sm:max-w-[325px] justify-self-center;
}

/* GENERAL */

.hide_scrollbar::-webkit-scrollbar {
  display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
